* {
    box-sizing: border-box;
}

:root {
    --primery-color: #143c3c;
    --Primary-color-black: #152427;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: poppins, sans-serif;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.btn {
    min-width: 173px;
    height: 57px;
    line-height: 57px;
    border-radius: 999px;
    background: var(--primery-color);
    text-align: center;
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.section-title {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.sub-title {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.12;
}

/* Header */
.header {
    padding-top: 28px;
}

.header__inner {
    height: 761px;
    position: relative;
}

.header__content {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.header__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 14px;
}

.header__row::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.header__list {
    display: flex;
}

.header-item__link {
    padding: 4px 19px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55;
}

.header-item__link:hover {
    color: var(--Primary-color-black, #152427);
}

.header-item__active {
    position: relative;
    color: #152427;
}

.header-item__active::after {
    position: absolute;
    bottom: -25px;
    left: 19px;
    content: "";
    display: block;
    width: 16px;
    height: 02px;
    z-index: 1;
    background: var(--primery-color);
}

.header-info {
    max-width: 400px;
}

.header-info__title {
    margin-top: 43px;
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    max-width: 368px;
}

.header-info__desc {
    margin-top: 20px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55;
}

.header-info__ctn {
    margin-top: 42px;
    display: flex;
    column-gap: 43px;
}

.header-info__watch-video {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.header-info__play {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
}

.header-info__child-play {
    position: absolute;
    left: -7px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.header-info__text-video {
    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.header__images {
    position: relative;
    display: flex;
    max-width: 646px;
    margin-right: 23px;
}

.header__img {
    width: 202px;
    height: 466px;
    border-radius: 999px;
    object-fit: cover;
    margin-right: 20px;
}

.header__images::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 122px;
    margin: 0 auto;
    content: "";
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 999px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.header__img:nth-child(2) {
    transform: translateY(77px);
}

.header__decorate {
    position: absolute;
    top: 90px;
    left: 254px;
    z-index: 2;
}

.header__decorate:nth-child(2) {
    position: absolute;
    left: 295px;
    top: 82px;
    z-index: 1;
}

.header__decorate:nth-child(3) {
    position: absolute;
    left: 1021px;
    top: 626px;
    z-index: 2;
}

.header__decorate:nth-child(4) {
    position: absolute;
    transform: rotate(180deg);
    left: 519px;
    top: 356px;
    z-index: 1;
}

/* Brand */
.brand {
    margin-top: 42px;
}

.brand__bg {
    display: flex;
    border-radius: 999px;
    background: var(--Scondery-color-light-green, #e2eddf);
    align-items: center;
    justify-content: space-evenly;
    padding: 76px 0 78px;
}

.brand__logo-text {
    display: flex;
    gap: 0 11px;
    color: #163c35;
    font-family: Poppins;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: normal;
}

/* Services */
.services {
    padding: 30px 0;
    margin-top: 76px;
}

.services__sub-title {
    position: relative;
    padding-left: 46px;

    line-height: 1.62;
}

.services__sub-title::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: "";
    width: 25px;
    height: 1.5px;
    background: #152427;
    display: block;
}

.services__top {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.services__title {
    position: relative;
    max-width: 520px;
    margin-right: 422px;
}

.services__title::after {
    position: absolute;
    bottom: 19px;
    right: 103px;
    content: "";
    display: block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.services__arrow {
    display: flex;
    column-gap: 17px;
}

.services__bg-arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
}

.services__arrow-left,
.services__arrow-right {
    color: #152427;
}

.services__arrow-right {
    transform: rotate(180deg);
}

.services__bg-arrow:hover {
    background: var(--primery-color);
}

.services__bg-arrow:hover .services__arrow {
    color: #fff;
}

.services__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.services-item__thumb {
    width: 370px;
    height: 318px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.services-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.services-item:hover .services-item__img {
    transform: scale(1.1);
}

.services-item__info {
    padding: 24px 24px 24px 0;
    transition: 0.25s;
}

.services-item__title {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.4;
}

.services-item__desc {
    margin-top: 18px;
    max-width: 268px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.services-item:hover .services-item__info {
    padding: 24px;
    border-radius: 2rem;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

/* Creative */

.creative {
    padding: 30px 0;
    margin-top: 90px;
}

.creative__inner {
    display: flex;
    justify-content: space-between;
}

.creative__images {
    margin-top: 13px;
    display: flex;
    gap: 0 21px;
}

.creative__block-img {
    width: 284px;
    height: 480px;
}

.creative__img {
    width: 100%;
    height: 100%;
    border-radius: 999px;
}

.creative__block-img:first-child .creative__img {
    transform: translateY(77px);
}

.creative__block-img:nth-child(2) {
    position: relative;
}

.creative-info {
    position: absolute;
    top: 405px;
    left: 152px;
    padding: 19px 23px 11px;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    display: inline-block;
}

.creative-info__title {
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
    width: 97px;
}

.creative-info__desc {
    margin-top: 6px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.creative-info__value {
    display: block;
    position: relative;
    margin-top: 10px;
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.creative-info__value::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    display: block;
    border-radius: 999px;
    background: #83a17d;
    width: 40px;
    height: 2px;
    z-index: 1;
}

.creative-info__value::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    display: block;
    border-radius: 999px;
    background: #eaeaea;
    width: 96px;
    height: 2px;
}

.creative-info__desc-func {
    margin-top: 3px;
    display: flex;
    justify-content: end;
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.creative-info__icon {
    margin-top: 3px;
}

.creative-info__team {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.creative-info__avt-ground {
    display: flex;
}

.creative-info__avt {
    border: 1px solid #fff;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -6px;
}

.creative__sub-title {
    position: relative;
    padding-left: 46px;
}

.creative__sub-title::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    content: "";
    display: block;
    width: 25px;
    height: 1.5px;
    background: #152427;
}

.creative__content {
    max-width: 485px;
}

.creative__title {
    margin-top: 20px;
}

.creative__desc {
    margin-top: 11px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.creative-quantity__desc {
    display: flex;
    align-items: center;
    column-gap: 24px;

    padding: 36px 0 20px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    border-bottom: 1px solid #83a17d;
}

.creative-quantity__value {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

/* Process */
.process {
    margin-top: 96px;
    padding: 30px 0;
}

.process__sub-title {
    position: relative;
    padding-left: 53px;
}

.process__sub-title::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0 auto;
    content: "";
    display: block;
    width: 25px;
    height: 1.5px;
    background: #152427;
}

.process__title {
    margin-top: 20px;

    position: relative;
    max-width: 477px;
}

.process__title::after {
    position: absolute;
    content: "";
    right: -9px;
    bottom: 18px;
    display: block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.process__list {
    padding-top: 27px;
}

.process__row {
    /* padding-top: 27px; */
    margin-top: 54px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.process__row:first-child {
    border-radius: 3.3rem;
    background: var(--Scondery-color-light-green, #e2eddf);
}

.process__row:last-child::after,
.process__row:nth-child(2)::after {
    position: absolute;
    bottom: -25px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process__row:hover .process-item__left {
    padding-left: 30px;
}

.process-item__left {
    padding-left: 20px;
    transition: 0.25s;
}

.process__more {
    margin-left: 139px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
}

.process__more:hover {
    text-decoration: underline;
}

.process-item__title {
    display: flex;
    align-items: center;
    column-gap: 49px;
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
}

.process-item__value {
    color: var(--Primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.72;
}

.process-item__people {
    margin-top: -259px;
    margin-right: 94px;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process-item__desc {
    padding-right: 41px;
    max-width: 572px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}
